## UID-20

In [1]:
import pandas as pd
from test_case_generator_functions import separate_words_in_name_2, separate_words_in_name_3
import numpy as np
import names

In [2]:
uid = 'UID-20' 
theme = 'Name Additions'
category = 'First Name Part'
sub_category = '>2 Name Parts added'
entity_type = 'Entity'

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10892,39438,"NEJAT, Hossein",individual,IRGC] [IFSR] [IRAN-HR,IRGC Brigadier General,-0-,-0-,-0-,-0-,-0-,-0-,"DOB Mar 1955 to Mar 1956; POB Shiraz, Iran; na..."
10893,39439,"SAJEDINIA, Hossein",individual,IRAN-HR,Deputy Operations Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 21 Mar 1962 to 20 Apr 1962; POB Isfahan, I..."
10894,39440,"RAHIMI, Hossein",individual,IRAN-HR,Police chief of Tehran,-0-,-0-,-0-,-0-,-0-,-0-,DOB Mar 1963 to Mar 1964; POB Markazi Province...
10895,39441,"JAVANI, Yadollah",individual,IRGC] [IFSR] [IRAN-HR,Deputy Political Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 1962; POB Isfahan, Iran; nationality Iran;..."
10896,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                       name entity_type
0         36     AEROCARIBBEAN AIRLINES        -0-
1        173  ANGLO-CARIBBEAN CO., LTD.        -0-
2        306     BANCO NACIONAL DE CUBA        -0-
3        424         BOUTIQUE LA MAISON        -0-
4        475               CASA DE CUBA        -0-
...      ...                        ...         ...
10892  39438             NEJAT, Hossein  individual
10893  39439         SAJEDINIA, Hossein  individual
10894  39440            RAHIMI, Hossein  individual
10895  39441           JAVANI, Yadollah  individual
10896                              NaN         NaN

[10897 rows x 3 columns]

In [5]:
ofac_list['entity_type'].value_counts()

individual    5701
-0-           4394
vessel         515
aircraft       286
Name: entity_type, dtype: int64

In [6]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate Individual
ofac_list_filtered

         uid                              name entity_type
0         36            AEROCARIBBEAN AIRLINES        -0-
1        173         ANGLO-CARIBBEAN CO., LTD.        -0-
2        306            BANCO NACIONAL DE CUBA        -0-
3        424                BOUTIQUE LA MAISON        -0-
4        475                      CASA DE CUBA        -0-
...      ...                               ...         ...
10884  39282              SOPHYCHEM HK LIMITED        -0-
10885  39283                CLARA SHIPPING LLC        -0-
10886  39356       NEW EASTERN SHIPPING CO LTD        -0-
10888  39358       ANFASAR TRADING S PTE. LTD.        -0-
10889  39359  SWANSEAS PORT SERVICES PTE. LTD.        -0-

[4394 rows x 3 columns]

In [7]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                             name entity_type
10027  36456                                      BITRIVER AG        -0-
4138   18644                      JUND AL-KHILAFAH IN ALGERIA        -0-
7457   28083                            GRAND SERVICE EXPRESS        -0-
95      4707        PALESTINE ISLAMIC JIHAD - SHAQAQI FACTION        -0-
8859   33537                DIRECTORATE OF DEFENSE INDUSTRIES        -0-
1667   10923              REVIVAL OF ISLAMIC HERITAGE SOCIETY        -0-
7830   29272                                WASSIM KATTAN LLC        -0-
1775   11299       HONG PANG GEMS & JEWELLERY COMPANY LIMITED        -0-
10791  38723  OPEN JOINT STOCK COMPANY SVETLOGORSKKHIMVOLOKNO        -0-
766     8179                                   PATTERSON FARM        -0-

## CREATE THE TEST CASES

In [8]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [11]:
for index, row in ofac_list_sampled.iterrows():
        
    number_of_words = row['name'].count(' ') + 1
    name = names.get_last_name()
    final_test_name = name + " "+ name + " " + name + " " + row['name']
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
    

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 10312,37110,"ZLATKIS, Bella Ilyinichna","Barbara ZLATKIS, Bella Ilyinichna"
1,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 7399,27988,"ZHANG, Taotao","Aaron ZHANG, Taotao"
2,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 1683,10979,"BALDENEGRO BASTIDAS, Manuel Dario","Eleanor BALDENEGRO BASTIDAS, Manuel Dario"
3,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 2596,13072,"SHINODA, Kenichi","Joyce SHINODA, Kenichi"
4,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 9558,35541,"ALSHEVSKIH, Andrey Gennadyevich","Eric ALSHEVSKIH, Andrey Gennadyevich"
5,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 177,6858,"CARO QUINTERO, Miguel Angel","Joel CARO QUINTERO, Miguel Angel"
6,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 8805,33256,"KAZEMI, Mohammad Reza","Jennifer KAZEMI, Mohammad Reza"
7,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 4721,21030,"CARRANZA ZEPEDA, Victor Manuel","Beverlee CARRANZA ZEPEDA, Victor Manuel"
8,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 174,6855,"ALVAREZ TOSTADO, Jose","Alice ALVAREZ TOSTADO, Jose"
9,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 8391,31168,"TYURIN, Denis Valeriyevich","Jennifer TYURIN, Denis Valeriyevich"
10,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 10312,37110,"ZLATKIS, Bella Ilyinichna","Martinez Martinez Martinez ZLATKIS, Bella Ilyi..."
11,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 7399,27988,"ZHANG, Taotao","Bush Bush Bush ZHANG, Taotao"
12,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 1683,10979,"BALDENEGRO BASTIDAS, Manuel Dario","Carlson Carlson Carlson BALDENEGRO BASTIDAS, M..."
13,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 2596,13072,"SHINODA, Kenichi","Laud Laud Laud SHINODA, Kenichi"
14,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 9558,35541,"ALSHEVSKIH, Andrey Gennadyevich","Wallace Wallace Wallace ALSHEVSKIH, Andrey Gen..."
15,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 177,6858,"CARO QUINTERO, Miguel Angel","Horton Horton Horton CARO QUINTERO, Miguel Angel"
16,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 8805,33256,"KAZEMI, Mohammad Reza","Allen Allen Allen KAZEMI, Mohammad Reza"
17,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 4721,21030,"CARRANZA ZEPEDA, Victor Manuel","Elrick Elrick Elrick CARRANZA ZEPEDA, Victor M..."
18,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 174,6855,"ALVAREZ TOSTADO, Jose","Salinas Salinas Salinas ALVAREZ TOSTADO, Jose"
19,UID-25,Name Additions,Last Name,>2 Last Names added,Individual,UID-25 - 8391,31168,"TYURIN, Denis Valeriyevich","Helm Helm Helm TYURIN, Denis Valeriyevich"